Repository LottieFiles/dotlottie-web, pull requests merged in 2024-07, with the labels that each got.

#268 feat(solid): 🎸 added animationId, themeId and themeData props
  .changeset/old-fishes-scream.md
  apps/dotlottie-solid-example/src/App.tsx
  packages/solid/README.md
  packages/solid/src/dotlottie.tsx
  packages/solid/src/use-dotlottie.tsx
  packages/solid/tsup.config.ts
Labels: enhancement, solid

#267 feat(web): 🎸 added DotLottie ready event
  apps/dotlottie-web-example/src/main.ts
  packages/web/src/dotlottie.ts
  packages/web/src/event-manager.ts
  packages/web/tests/dotlottie.test.ts
Labels: enhancement, web

#269 feat(svelte): added animationId, themeId, themeData and playOnHover props
  .changeset/old-mangos-help.md
  packages/svelte/src/lib/Dotlottie.svelte
  packages/svelte/src/routes/+page.svelte
Labels: enhancement, svelte

#242 feat(web): 🎸 DotLottieWorker
  .changeset/wild-meals-glow.md
  .eslintignore
  apps/dotlottie-web-example/src/main.ts
  packages/web/.eslintignore
  packages/web/package.json
  packages/web/src/dotlottie.ts
  packages/web/src/index.ts
  packages/web/src/types.ts
  packages/web/src/worker/dotlottie.ts
  packages/web/src/worker/dotlottie.worker.js
  packages/web/src/worker/dotlottie.worker.ts
  packages/web/src/worker/index.ts
  packages/web/src/worker/types.ts
  packages/web/src/worker/worker-manager.ts
  packages/web/tests/dotlottie-worker.test.ts
  packages/web/tsup.config.cjs
  packages/web/worker.js
  packages/web/workers-example.html
  pnpm-lock.yaml
Labels: enhancement, web

#284 chore(web): 🤖 upgrade dotlottie-rs@v0.1.25 wasm bindings
  .changeset/rich-olives-sin.md
  packages/web/download_wasm_bindings.sh
  packages/web/src/core/dotlottie-player.wasm
Labels: web, dependencies

#298 chore(web): 🤖 custom esbuild inline worker plugin
  packages/web/esbuild-plugins/plugin-inline-worker.cjs
  packages/web/package.json
  packages/web/src/constants.ts
  packages/web/src/core/dotlottie-wasm-loader.ts
  packages/web/src/worker/dotlottie.worker.js
  packages/web/src/worker/worker-manager.ts
  packages/web/tests/dotlottie-worker.test.ts
  packages/web/tsup.config.cjs
  packages/web/types.d.ts
  pnpm-lock.yaml
Labels: web
