Repository LottieFiles/dotlottie-web, pull requests merged in 2024-06, with the labels that each got.

#236 chore(web): 🤖 log error of loading the initial WASM URL
  .changeset/chilly-lobsters-shave.md
  packages/web/src/core/dotlottie-wasm-loader.ts
Labels: web

#234 feat: implement solid wrapper for web
  apps/dotlottie-solid-example/.gitignore
  apps/dotlottie-solid-example/index.html
  apps/dotlottie-solid-example/package.json
  apps/dotlottie-solid-example/src/App.tsx
  apps/dotlottie-solid-example/src/index.css
  apps/dotlottie-solid-example/src/index.tsx
  apps/dotlottie-solid-example/tsconfig.json
  apps/dotlottie-solid-example/vite.config.ts
  packages/solid/README.md
  packages/solid/package.json
  packages/solid/src/dotlottie.tsx
  packages/solid/src/index.ts
  packages/solid/src/use-dotlottie.tsx
  packages/solid/src/use-stable-callback.tsx
  packages/solid/tsconfig.json
  packages/solid/tsup.config.ts
  pnpm-lock.yaml
Labels: enhancement, good first issue, solid

#241 fix(react): 🐛 dotlottieRefCallback null instance in strict mode
  .changeset/fast-garlics-retire.md
  apps/dotlottie-react-example/src/client-entry.tsx
  apps/dotlottie-react-example/src/server-entry.tsx
  packages/react/src/use-dotlottie.tsx
Labels: react

#244 chore: 🤖 upgrade dotlottie-rs v0.1.21 wasm bindings
  .changeset/shiny-zoos-taste.md
  packages/web/download_wasm_bindings.sh
  packages/web/src/core/dotlottie-player.wasm
Labels: web, dependencies

#179 feat(svelte): 🎸 add marker & layout props
  packages/svelte/src/lib/Dotlottie.svelte
Labels: enhancement, svelte

#254 feat(web): 🎸 dotLottie state machines integration
  .changeset/gorgeous-seahorses-look.md
  apps/dotlottie-web-example/public/exploding_pigeon.lottie
  apps/dotlottie-web-example/public/toggle.lottie
  apps/dotlottie-web-example/src/main.ts
  packages/web/download_wasm_bindings.sh
  packages/web/src/core/dotlottie-player.js
  packages/web/src/core/dotlottie-player.types.ts
  packages/web/src/core/dotlottie-player.wasm
  packages/web/src/dotlottie.ts
  packages/web/vitest.config.ts
Labels: enhancement, web

#258 feat(react): 🎸 add animationId & themeId & themeData props
  .changeset/mighty-tips-impress.md
  apps/dotlottie-react-example/src/App.tsx
  packages/react/src/dotlottie.tsx
  packages/react/src/use-dotlottie.tsx
Labels: enhancement, react

#256 fix(web): 🐛 skip triggering LoadEvent for already loaded animations
  .changeset/tricky-clocks-repeat.md
  packages/web/src/dotlottie.ts
Labels: web

#259 perf(react): ⚡️ render only visible canvas area
  .changeset/thin-humans-run.md
  apps/dotlottie-react-example/src/App.tsx
  packages/react/src/use-dotlottie.tsx
Labels: enhancement, react

#265 feat(vue): 🎸 added markers, autoResizeCanvas and playOnHover props
  .changeset/fast-ghosts-teach.md
  packages/vue/README.md
  packages/vue/src/dotlottie.ts
Labels: enhancement, vue
